.bodix {
    font-size: 20px;
}

.mainContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image: radial-gradient(circle, #2e232a, #362b36, #3d3444, #413e52, #434860, #494961, #4f4961, #544a61, #584251, #553d42, #4c3a36, #41372f);
    color: white;
}

.mainTitle {
    text-align: center;
    margin: 10px;
    font-size: 45px;
}

.image {
    height: 80%;
    max-height: 600px;
    width: 80%;
    max-width: 600px;
    box-shadow: rgb(0 0 0 / 19%) 0px 10px 20px, rgb(0 0 0 / 23%) 0px 6px 6px;
    border-radius: 8px;
}

.detailsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    color: #000000 ;
    background-color: rgba(255, 255, 255, 0.192);
    padding: 8px;
    border-radius: 15px;
    max-width: 70%;
    min-height: 25%;
    margin: 10px;
    font-family: "Comic Sans MS", cursive, sans-serif;
                letter-spacing: 1.8px;
            word-spacing: 1.6px;
}

.breed_group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 50%;
}

.temperament {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: left;
    width: 100%;
    gap: 15px;
}

.life_span {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 50%;
}

.weights {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 50%;
}

.heights {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 50%;
}

.detailsSVG {
    width: 100px;
    background-color: rgb(3, 59, 8);
    padding: 15px;
    border-radius: 15px;
}

.button1 {
    margin-top: 0.5em;
    appearance: none;
    backface-visibility: hidden;
    background-color: #27ae60;
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    padding: 17px 30px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
}

.imageSection {
    padding: 5px;
    margin: 15px;
}

.infoSection {
    padding: 5px;
    margin: 15px;
}

.xBone {
    height: 25px;
}