.Cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.titleHome {
    display: flex;
    justify-content: center;
}

.Filter1 {
    display: flex;
    justify-content: center;
}

.Body {
    display: flex;
    flex-direction: column;
    align-items: center;
}