.Cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.Cards {
    display: flex;
    flex-wrap: wrap;
    padding-left: 250px;
}

.one {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 50px;
}

.Filter1 {
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    color: #654a34;
    background-color: #413e52,
}

.Body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    background-image: radial-gradient(circle, #2e232a, #362b36, #3d3444, #413e52, #434860, #494961, #4f4961, #544a61, #584251, #553d42, #4c3a36, #41372f);
}

