.LandingPage {
    min-height: 100vh;
    background-image: radial-gradient(circle, #2e232a, #362b36, #3d3444, #413e52, #434860, #494961, #4f4961, #544a61, #584251, #553d42, #4c3a36, #41372f);
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton {
    border: 1px solid #5c759f; /*anchura, estilo y color borde*/
    padding: 15px; /*espacio alrededor texto*/
    background-color: #182235; /*color botón*/
    color: #fefcff; /*color texto*/
    text-decoration: none; /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    font-family: 'Helvetica', sans-serif; /*tipografía texto*/
    border-radius: 48px; /*bordes redondos*/
    }

