.searchBarObject {
    margin: 15px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input {
    border-radius: 15px;
    margin: 5px;
    padding: 2px;
    line-height: 2.05;
}

button {
    margin: 6px;
    padding: 7px;
    border-radius: 10px;
}


